# as
assembly/html.ts
#assembly/sw.ts
#assembly/manifest.ts
#assembly/svg.ts

# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
/build

# other
