/* main.css  */
/* import other css here */

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

/* css  */
@import url(./style.css);
@import url(./a.css);
@import url(./section.css);
@import url(./button.css);
@import url(./div.css);
